body {
    max-width:750px;
    margin: 50px auto;
    text-align:center;
    border: 5px solid black;
    background-color: #FFFF99;
}
.home-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 15px;
}
